<div class="container">
    <form class="form login-form" id="login">
        <h1 class="form_title">Login</h1>
        <div class="form_message form_message-error"></div>
        <div class="form_input-group">
            <input type="text" class="form_input email-login" autofocus placeholder="Username or email">
            <div class="form_input-error-message"></div>
        </div>
        <div class="form_input-group">
            <input type="password" class="form_input password-login" autofocus placeholder="Password">
            <div class="form_input-error-message"></div>
        </div>
        <button class="form_button" type="submit">Continue</button>
    </form>
</div>