<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title-dog</title>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="../public/assets/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div id="header">
        <button id="previousMonth">Previous Month</button>
        <div id="monthDisplay"></div>
        <button id="nextMonth">Next Month</button>
      </div>
      <div id="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
      </div>
      <div id="calendar"></div>
    </div>
    <div id="newEventForm">
      <h2>New Reservation</h2>
      <input id="eventTitleInput" placeholder="Owner Name" />
      <button id="saveButton">Save</button>
      <button id="cancelButton">Cancel</button>
    </div>
    <div id="deleteEventForm">
      <h2>Reservation</h2>
      <p id="eventText"></p>
      <button id="deleteButton">Delete</button>
      <button id="closeButton">Close</button>
      <button id="newButton">New</button>
    </div>
    <div id="FormBackDrop"></div>
    <script src="../public/assets/script.js" defer></script>
  </body>